.card-bt{
  
width: 100%;
height: 80vh;

margin: auto;
align-items: center;
display: grid;
img{
    padding: 0;
    height: 400px;
   width: 100%;
max-width: 1300px;
    margin: 0 auto;
}
}


.card-bt-title{
    width: 100%;
    height: 300px;
        display: grid;
    justify-content: center;
    align-items: center;
border-width: 1px 0px 0px 0px;
    max-width: 1300px;
    margin: 0 auto;
}