.menu{
    width: 100%;
    background-color: #1b1923;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    h1{
        color: white;
        margin-left: 20px;
    }
}

.menu-user{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    p{
        margin-top: 15px;
        margin-right: 20px;
        color: white;
        @media only screen and (max-width: 450px) {
            display: none;
        }
    }
}

body{
  background-color: #15141b;
}