.hero{
    height: 90vh;
    width: 95%;
    margin: auto;
    
    display: block;
    @media screen and (max-width: 600px) {
       display: flex;
       
       }
}

.hero-img{
    height: 200px;
    width: 95%;
    margin: auto;
    border-radius: 5px;
    margin-top: 50px;
}

.categories{
  display: none;
}

.destaques{
  width: 100%;
  color: gray;
  padding: 10px;
}
.destaques-card{
    width: 100%;
    height: 100%;
    
    margin: auto;
}
.toggler-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
  
    background: transparent;
    border: 0;
    border-width: 0;
    font-size: 0;
  
    position: static;
    width: 33px;
    height: 32px;
    padding: 5px;
    margin: 0 105px;
    overflow: visible;
    clip: auto;
    white-space: normal;
    margin-left: 10px;
    margin-top: 14px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (max-width: 600px) {
        margin-left: 10px;
       
       }
  }
  
  .line {
    display: block;
    width: 100%;
    height: 4px;
    background: #C07CF4;
    transition: transform 0.5s ease 0s, opacity 0.2s;
  }
  
  .is-menu-open {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 9px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(2px, -7px);
    }
  }

  .categories-open{
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 40px;
    @media screen and (max-width: 600px) {
        display: grid;
        height: 60vh;
       width: unset;
        border-width: 0px 1px 0px 0px;
        border-color: white;
        }
    button{
        width: 17%;
        height: 100%;
        border-width: 0px 0px 0px 0px;
        background-color:#C07CF4;
        color: white;
        @media screen and (max-width: 600px) {
          background-color:white;
          color: gray;
          }
        
    }
  }

  .principal{
    display: grid;
  }