.filter-container{
   height: 300px;
   width: 2%;
   background-color: blue;
}
.busca-section{
   background-color: white;
   height: 100vh;
   overflow-y: scroll;
   h1{
      font-size: 26px;
      margin-bottom: 30px;
      color: gray;
      text-align: center;
     
   }

 h2{
    width: 10%;
    white-space: nowrap;
    margin-top: 10px;
 }
}

.banner{
   height: 100vh;
   width: 26%;
   background-color: white;
   display: grid;
  img{
   height: 100vh;
   width: 26%;
   position: fixed;
   @media only screen and (max-width: 800px) {
      display: none;
   }
  }
   p{
      color: white;
      margin: auto;
      @media only screen and (max-width: 800px) {
        display: none;
     }

   }
   @media only screen and (max-width: 800px) {
      width: 0px;
  }
}

body{
   background-color: white;
 }

 .table{
 
    width: 40%;
    margin: auto;
     @media only screen and (max-width: 800px) {
      width: 80%;
  }
 }

 .header-login{
   max-width: 200px;
   height: 100px;
 }