.filter-container{
   height: 300px;
   width: 2%;
   background-color: blue;
}
.busca-section{
   background-color: #15141b;

 h2{
    width: 10%;
    white-space: nowrap;
    margin-top: 10px;
 }
}

.banner{
   height: 100vh;
   width: 20%;
   background-color: #1b1923;
   display: grid;
  
   p{
      color: white;
      margin: auto;
      @media only screen and (max-width: 800px) {
        display: none;
     }

   }
   @media only screen and (max-width: 800px) {
      width: 0px;
  }
}

body{
   background-color: #15141b;
 }

 .table{
    width: 40%;
   
    margin: auto;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #63005b, 0 0 20px #63005b,
    0 0 30px #63005b, 0 0 40px #63005b;
    @media only screen and (max-width: 800px) {
      width: 80%;
  }
 }