.menu-lateral{
   
height: 60px;
width: 55px;
background-color: #1b1923;
transition: 1s;

}
.toggler-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
  
    background: transparent;
    border: 0;
    border-width: 0;
    font-size: 0;
  
    position: static;
    width: 33px;
    height: 32px;
    padding: 5px;
    margin: 0 105px;
    overflow: visible;
    clip: auto;
    white-space: normal;
    margin-left: 10px;
    margin-top: 14px;
  }
  
  .line {
    display: block;
    width: 100%;
    height: 4px;
    background: white;
    transition: transform 0.5s ease 0s, opacity 0.2s;
  }
  
  .is-menu-open {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 9px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(2px, -7px);
    }
  }
  
  .menu-lateral-open{
    height: 500px;
    width: 250px;
    background-color: #1b1923;
    transition: 1s;
    
  }