.busca-section{
    width: 60%;
    margin: auto;
    margin-top: auto;
    height: 60%;
    padding: 0rem 2rem;
    box-shadow:1px 1px 5px  black;
    border-radius: 10px;
    h2{
        color: gray;
        margin-top: 20px;
    }
}
.busca-section-div{
    display: grid;
    height: 100vh;
    background-color: white;
}

.logar{
  
    margin: auto;
    background-color: white;
    height: 25px;
    align-items: center;
    display: grid;
    box-shadow:1px 1px 5px  black;
    border-radius: 5px;
    p{
        color: gray;
    }
}

body{
    background-color: white;
  }