.busca-section{
    width: 60%;
    margin: auto;
    background-color: #1b1923;
    margin-top: auto;
    height: 60%;
    padding: 0rem 2rem;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #63005b, 0 0 20px #63005b,
    0 0 30px #63005b, 0 0 40px #63005b;
    h2{
        color: white;
        margin-top: 20px;
    }
}
.busca-section-div{
    display: grid;
    height: 100vh;
    background-color: #15141b;
}

.logar{
    width: 200;
    margin: auto;
    background-color: #1b1923;
    height: 25px;
    align-items: center;
    display: grid;
    p{
        color: white;
    }
}

body{
    background-color: #15141b;
  }